:root{
    /* Color */
    --white-color: #ffffff;
    --pink-dark-color: #F06291;
    --black-color: #140a00;
    --navy-color: #00457C;
    --red-color:#ff0000;
    --purple-color:#91349B;
    --green-dark-color:#177B63;
    --green-color:#008400;
    --gray-dark-color:#324A4D;
    --gray-light-color:gray;
    --gray-very-light-color:#f2f2f2;

    /* Size */
    /* --padding: 12px; */
    /* --avatar-size: 36px; */

    /* Font Size */
    --font-very-large: 25px;
    --font-large: 22px;
    --font-medium: 20px;
    --font-small: 18px;
    --font-micro: 15px;
    --font-Xmicro: 12px;
    --font-XXmicro: 10px;
}

*{
    margin:0;
    padding:0;
}
body{
    font-family: Roboto;
}

/* Mobile */

/* SECTION: Header */
header{
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width:100%;
    height: 50px;
    padding: 12px;
    font-size: var(--font-large);
    color: var(--white-color);
    background-color: var(--navy-color);
    cursor: default;
}
header i:hover{
    color:var(--gray-light-color);
}
header .hamburger-icon i{
    line-height: 1.2;
    cursor: pointer;
}
header .page-title span{
    line-height: 1.2;
}
header .more-icon i{
    line-height: 1.2;
    cursor: pointer;
}
header .dropdown-bubble{
    width: 170px;
    background-color: white;
    position: absolute;
    right: 10px;
    top: 47px;
    box-shadow: 0px 1px 15px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}
header .dropdown-bubble:after{
    border-top:0px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
    content:"";
    position:absolute;
    top: -7px;
    left: 155px;
}
header .dropdown-bubble span{
    color: black;
    font-size: var(--font-small);
}
header .dropdown-bubble #dashboard-view-menu{
    height: 20%;
    text-align: center;
    margin: 3px;
}
header .dropdown-bubble #dashboard-view-menu span{
    font-weight: bold;
    line-height: 2.3;
}
header .dropdown-bubble #dashboard-views{
    height: 80%;
    display: flex;
    flex-direction: column;
}
header .dropdown-bubble #dashboard-views hr{
    margin-right: 20px;
    margin-left: 20px;
    color: var(--gray-light-color);
}
header .dropdown-bubble #dashboard-views span{
    height: 25%;
    padding-left:35px;
    line-height: 2;
}
header .dropdown-bubble #dashboard-views span:hover{
    background-color: var(--navy-color);
    color: var(--white-color);
    transition: 0.2s;
}
/* SECTION: Right Side Bar */
#right-side-bar .full-side-bar-wrapper{
    position: fixed;
    top:0;
    width: 300px;
    height: 100vh;
    background-color: white;
    z-index: 1;
    padding: 20px;
    transform: translateX(-400px);
}
#right-side-bar .full-side-bar-wrapper .side-bar-header{
    display: flex;
    justify-content: space-between;
}
#right-side-bar .full-side-bar-wrapper .side-bar-header img{
    width: 200px;
}
#right-side-bar .full-side-bar-wrapper .side-bar-header i{
    height: fit-content;
    align-self: center;
    font-size: var(--font-large);
    padding: 5px;
    border-radius: 5px;
}
#right-side-bar .full-side-bar-wrapper .side-bar-header i:hover{
    background-color: var(--gray-very-light-color);
    transition: 0.3s;
    cursor: pointer;
}
#right-side-bar .full-side-bar-wrapper .menu-list{
    margin: 30px;
    margin-top: 40px;
}
#right-side-bar .full-side-bar-wrapper .menu-list .menu{
    margin-top: 30px;
    font-size: var(--font-small);
    display: flex;
    justify-content: space-between;
}
#right-side-bar .full-side-bar-wrapper .menu-list .menu:hover{
    color:var(--gray-light-color);
    cursor: pointer;
}
#right-side-bar .full-side-bar-wrapper .menu-list .menu .menu-metadata span{   
    position:absolute;
    left:90px;
    line-height: 1.5;
}
#right-side-bar .full-side-bar-wrapper .menu-list .menu .menu-metadata i{
    margin-right: 10px;
    font-size: var(--font-very-large);
}
    /* My Signature */
#right-side-bar .full-side-bar-wrapper .signature{
    position: fixed;
    bottom:50px;
    left:110px;
}    
#right-side-bar .full-side-bar-wrapper .signature #jason{
    font-size: var(--font-XXmicro);
}

/* SECTION: Course List */

    /* Specific four course 1 */
#course-list #course-1{
    background-color: var(--pink-dark-color);
}
#course-list #course-1 .metadata .descriptions .full-name{
    color:var(--pink-dark-color);
}
    /* Specific four course 2 */
#course-list #course-2{
    background-color: var(--purple-color);
}
#course-list #course-2 .metadata .descriptions .full-name{
    color:var(--purple-color);
}
    /* Specific four course 3 */
#course-list #course-3{
    background-color: var(--green-dark-color);
}
#course-list #course-3 .metadata .descriptions .full-name{
    color:var(--green-dark-color);
}
    /* Specific four course 4 */
#course-list #course-4{
    background-color: var(--green-color);
}
#course-list #course-4 .metadata .descriptions .full-name{
    color:var(--green-color);
}
    /* Specific four course 5 */
#course-list #course-5{
    background-color: var(--gray-dark-color);
}
#course-list #course-5 .metadata .descriptions .full-name{
    color:var(--gray-dark-color);
}
    /* Default */
#course-list .course{
    margin: 30px 15px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* Default background color = grey */
    background-color: grey;
    height: 300px;
    box-shadow: 0px 1px 5px grey;
    cursor: pointer;
}
#course-list .course:hover{
    box-shadow: 0px 1px 15px grey;
}
#course-list .course .top-image{
    height: 55%;
    display: flex;
    flex-direction: row-reverse;
}
#course-list .course .top-image i{
    margin-top:15px;
    margin-right: 20px;
    font-size: var(--font-large);
    color: white;
}
#course-list .course .top-image i:hover{
    color: var(--navy-color);
    transition: 0.3s;
}
#course-list .course .metadata{
    background-color:white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 45%;
}
#course-list .course .metadata .icons i:hover{
    color:var(--navy-color);
    transition: 0.2s;
    margin: auto, auto;
}
#course-list .course .metadata .icons .noti{
    font-size: var(--font-micro);
    padding: 1px 5px;
    background-color: var(--navy-color);
    color: var(--white-color);
    border-radius: 50%;
    position: relative;
    top: -12px;
    left: -12px;
}
#course-list .course .metadata .descriptions{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
#course-list .course .metadata .descriptions .full-name{
    /* Default color: grey */
    color:grey;
    width: 100%;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space:nowrap;
    margin-bottom: 1px;
    font-size: var(--font-small);
    font-weight: bold;

}
#course-list .course .metadata .descriptions .short-name{
    color:#6C757C;
    font-size: var(--font-medium);
    width: 100%;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space:nowrap
}
#course-list .course .metadata .descriptions .semester{
    color:grey;
    font-size: var(--font-micro);
    width: 100%;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space:nowrap
}
#course-list .course .metadata .icons{
    display: flex;
    font-size: var(--font-medium);
    justify-content: space-around;
}
#course-list .course .metadata .icons i{
    color: gray;
    line-height: 3;
}
/* SECTION: To Do List */
#to-do{
    margin: 80px 15px 20px 15px;
}
.heading{
    border-bottom: 0.5px solid var(--gray-light-color);
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.heading span{
    font-size: var(--font-small);
}
#to-do .announcement .to-do-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
#to-do .announcement .to-do-content .details-container{
    display: flex;
}
#to-do .announcement .to-do-content .details-container i{
    font-size: var(--font-micro);
    margin-right: 10px;
}
#to-do .announcement .to-do-content .details-container .details{
    display: flex;
    flex-direction: column;
    font-size: var(--font-Xmicro);
}
#to-do .announcement .to-do-content .details-container .details #to-do-title a{
    color:var(--navy-color);
    margin-bottom: 5px;
    font-size: var(--font-Xmicro);
    text-decoration: none;
}
#to-do .announcement .to-do-content .details-container .details #to-do-title a:hover{
    text-decoration: underline;
    color:var(--black-color);
}
#to-do .announcement .to-do-content .details-container .details #to-do-course{
    color:var(--gray-light-color);
    margin-bottom: 3px;
    font-weight: bold;
}
#to-do .announcement .to-do-content .details-container .details #to-do-date{
    color:var(--gray-light-color);
    width: fit-content;
    padding-right: 8px;
    border-right: 1px solid lightgray;
}
#to-do .announcement .to-do-content i{
    font-size: var(--font-micro);
    height: fit-content;
    padding: 8px;
    border-radius: 3px;
}
#to-do .announcement .to-do-content i:hover{
    background-color: #f2f2f2;
    transition: 0.3s;
}
    /* Show all Clickable */
#to-do .announcement .show-all{
    text-align: center;
}
#to-do .announcement .show-all a{
    color:var(--navy-color);
    font-size: var(--font-micro);
    text-decoration: none;
}
#to-do .announcement .show-all a:hover{
    text-decoration: underline;
}

/* Recent Feedback */
#recent-feedback{
    margin: 15px;
}
#recent-feedback .feedback-content{
    display: flex; 
    margin-bottom: 20px;
    cursor: pointer;
}
#recent-feedback .feedback-content i{
    color:green;
}
#recent-feedback .feedback-content .metadata{
    display: flex; 
    flex-direction: column;
    margin-left: 10px;
    font-size: var(--font-Xmicro);
    color:var(--gray-light-color);
}
#recent-feedback .feedback-content .metadata .feedback-title{
    color:var(--navy-color);
    font-size: var(--font-micro);
}
#recent-feedback .feedback-content .metadata .course-name{
    margin-top:3px;
    margin-bottom: 2px;
}
#recent-feedback .feedback-content .metadata .grade{
    font-weight: bold;
}
#recent-feedback .feedback-content:hover span{
    text-decoration: underline;
    text-decoration-color: var(--navy-color);
}
    /* More feedback */
#recent-feedback .more-feedback a{
    color:var(--navy-color);
    font-size: var(--font-XXmicro);
    text-decoration: none;
    cursor: pointer;
}
#recent-feedback .more-feedback a:hover{
    text-decoration: underline;
    text-decoration-color: var(--navy-color);
}
/* View Grade Button */
#view-grades{
    margin:15px;
}
#view-grades .view-grades-btn{
    width: 100%;
    height: 30px;
    text-align: left;
    padding-left: 17px;
    background-color: #F5F5F5;
    border-radius: 4px;
    border: #C7CDD1 0.5px solid;
    cursor: pointer;
}
#view-grades .view-grades-btn:hover{
    background-color: #e3e3e3;
    transition: 0.3s;
}
/* Footer */
footer{
    margin:15px;
    padding: 20px;
    border-top: 0.5px solid var(--gray-light-color);
}
footer .logo{
    text-align: center;
}
footer .help-collection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer .help{
    font-size: var(--font-micro);
    margin: 5px 0;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 0.5px solid var(--navy-color);
}
footer .help a{
    text-decoration: none;
    color: var(--navy-color);
}
footer .help a:hover{
    text-decoration: underline;
}

/* Media Queries */
/*  Greater than 640px*/
@media screen and (min-width:640px){

}
/* Greater than 767px */
@media screen and (min-width:767px){
    
}
/* Greatern than 992px */
@media screen and (min-width:992px){
    
}