*{
    margin:0;
    padding:0;
}
/* Mobile */

/* Header */
header{
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width:100%;
    height: 50px;
    padding: 12px;
    font-size: 16px;
    color: white;
    background-color: #00457C;
}
header .hamburger-icon i{
    font-size: 16px;
    line-height: 1.5;
}
header .page-title span{
    line-height: 1.5;
}
header .more-icon i{
    font-size: 16px;
    line-height: 1.5;
}

/* Course List */

    /* Specific four course 1 */
#course-list #course-1{
    background-color: #F6A1BD;
}
#course-list #course-1 .metadata .descriptions .full-name{
    color:#F6A1BD;
}
    /* Specific four course 2 */
#course-list #course-2{
    background-color: #91349B;
}
#course-list #course-2 .metadata .descriptions .full-name{
    color:#91349B;
}
    /* Specific four course 3 */
#course-list #course-3{
    background-color: #177B63;
}
#course-list #course-3 .metadata .descriptions .full-name{
    color:#177B63;
}
    /* Specific four course 4 */
#course-list #course-4{
    background-color: #008400;
}
#course-list #course-4 .metadata .descriptions .full-name{
    color:#008400;
}
    /* Specific four course 5 */
#course-list #course-5{
    background-color: #324A4D;
}
#course-list #course-5 .metadata .descriptions .full-name{
    color:#324A4D;
}
    /* Default */
#course-list .course{
    margin: 30px 15px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* Default background color = grey */
    background-color: grey;
    height: 250px;
    box-shadow: 0px 1px 5px grey;
}
#course-list .course .top-image{
    height: 55%;
    display: flex;
    flex-direction: row-reverse;
}
#course-list .course .top-image i{
    margin-top:15px;
    margin-right: 20px;
    font-size: 20px;
    color: white;
}
#course-list .course .metadata{
    background-color:white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 45%;
}
#course-list .course .metadata .descriptions{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
#course-list .course .metadata .descriptions .full-name{
    /* Default color: grey */
    color:grey;
    margin-bottom: 1px;
    font-size: 13px;
    font-weight: bold;
}
#course-list .course .metadata .descriptions .short-name{
    color:#6C757C;
    font-size: 16px;
}
#course-list .course .metadata .descriptions .semester{
    color:grey;
    font-size: 10px;
}
#course-list .course .metadata .icons{
    display: flex;
    justify-content: space-around;
}
#course-list .course .metadata .icons i{
    color: gray;
    line-height: 3;
}
/*  Greater than 640px*/
@media screen and (min-width:640px){

}
/* Greater than 767px */
@media screen and (min-width:767px){
    
}
/* Greatern than 992px */
@media screen and (min-width:992px){
    
}